body{
    margin:0px;
    background-color: rgb(100, 100, 100);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display:grid;
    grid-template-areas:    'green red'
                            'yellow blue';
    grid-gap:10px;
    border:1px solid #fff;
    background-color:#fff;
    border-radius:100%;
    width:700px;
    height: 700px;
    margin-top: 20px;
}

.blue {
    grid-area: blue;
    background-color: rgb(40, 11, 167);
    border-bottom-right-radius: 100%;
    animation: azul 2s;
}

.red {
    grid-area:red;
    background-color:red;
    border-top-right-radius: 100%;
}

.orange {
    grid-area:rgb(240, 188, 20);
    background-color:rgb(240, 188, 20);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area:green;
    background-color:green;
    border-top-left-radius: 100%;
}


.selected {
    animation-delay: 3s;
    
    animation: piscar 0.15s ;
    
}

@keyframes piscar {
    from {opacity:0;}
    to {opacity:1}
  }
